@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using Archetype.Models;
@using Archetype.Extensions;

@{
	Layout = "Master.cshtml";
}

<section class="content">


@if (CurrentPage.HasValue("title")){
	<h1>@Umbraco.Field("title")</h1>
}
@if (CurrentPage.HasValue("contentArea")){
	<div class="top-content">@Umbraco.Field("contentArea")</div>
}



<div class="gallery-container row">
	@{
		foreach (var fieldset in Model.Content.GetPropertyValue<ArchetypeModel>("gallery"))
		{
			var image = Umbraco.TypedMedia(fieldset.GetValue("image"));
			@*<div class="column-4 desktop-w-6">*@
				<figure data-img="@image.GetCropUrl(900)" 
							data-title="@fieldset.GetValue("title")" 
							data-description="@fieldset.GetValue("description")" 
							data-price="@fieldset.GetValue("price")"
							data-size="@fieldset.GetValue("size")">
					<div class="img-container">
						<img src="@image.GetCropUrl("gallery-small")" />
					</div>
					<div class="description">
						<span class="title">@fieldset.GetValue("title")</span>
						<span class="category">@fieldset.GetValue("category")</span>
					</div>
				</figure>
			@*</div>*@
		}
	}
</div>

</section>


<section class="gallery-overlay">
	<span class="gallery-close"></span>                
	<div class="overlay-content">
				<div class="overlay-loading"></div>
	</div>
	<div class="overlay-side">
		<div class="side-scroll">
			<h3 id="title"></h3>
			<p id="description"></p>
			<p id="size"></p>
			<div class="price-container">
					<span id="price"></span>
			</div>
		</div>
		
		<a href="#" class="button" id="contactButton">Contact about purchasing</a>
	</div>
	
</section>